<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel gmd">
            <div class="panel-heading">
                Bem Vindo ao Gerenciamento de viagens
            </div>
            <div class="panel-body">
                <h5>Documentação dos componentes Gumga utilizados no sistema: 
                    <a href="https://gumga.github.io/" target="_blank">Documentação Gumga 
                        <i style="vertical-align: bottom;" class="material-icons">open_in_new</i>
                    </a>
                </h5>
            </div>
        </div>
    </div>
</div>