<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel gmd">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        Colaborador
                    </div>
                    <div class="col-md-6">
                        <span class=" btn pull-right" popover-placement="bottom-right" popover-trigger="'outsideClick'" popover-title="Componentes Utilizados."
                              uib-popover-html="htmlPopover">
                            <i class="material-icons">info_outline</i>
                        </span> 
                    </div>
                </div>
            </div>            
			<div class="panel-body">
                <form name="ColaboradorForm" gumga-form novalidate enctype="multipart/form-data" >
                    <ul class="nav nav-tabs gmd" role="tablist" style="margin-bottom: 3%;">
                        <li role="presentation" class="active"><a href="#principal" target="_self" aria-controls="principal" role="tab" data-toggle="tab">Dados Principais</a></li>
                        <li role="presentation"><a href="#endereco" target="_self" aria-controls="endereco" role="tab" data-toggle="tab">Endereço</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="principal">
                            <div class="row">
                                <!--<div class="col-md-6">
                                    <label for="imageUpload" class="control-label" gumga-translate-tag="colaborador.image">image</label>
                                    <gumga-documentation key="{{a001}}" can-edit="true" api-url="{{colaborador.methods.getDocumentationUrl()}}" title="Documentação" modal-title="Image Upload" confirm-button="Salvar" confirmButtonClass="btn btn-info gmd">
                                    </gumga-documentation>
                                    <gumga-image-upload
                                        images="colaborador.data.foto"
                                        accepted="png,jpg"
                                        result-image-size="700"
                                        crop="true"
                                        name="foto"
                                        max-size="1024"
                                        max-files="2"
                                        upload-method="upload(image)"
                                        remove-method="remove()">
                                    </gumga-image-upload>
                                </div>-->
                                <div class="col-md-6">
                                    <gmd-input>
                                        <input type="text" class="form-control gmd captalize" ng-model="colaborador.data.nome" name="nome" field="nome" gumga-error gumga-required />
                                        <span class="bar"></span>
                                        <label for="nome" class="control-label" gumga-translate-tag="colaborador.nome">nome</label>
                                    </gmd-input>
                                </div>
                                <div class="col-md-6">
                                    <gmd-input>
                                        <input type="text" class="form-control gmd captalize" ng-model="colaborador.data.cargo" name="cargo" field="cargo" gumga-error gumga-required />
                                        <span class="bar"></span>
                                        <label for="cargo" class="control-label" gumga-translate-tag="colaborador.cargo">cargo</label>
                                    </gmd-input>
                                </div>
                                <div class="col-md-4">
                                    <gmd-input>
                                        <input type="text" class="form-control gmd captalize" ng-model="colaborador.data.celular.value" name="telefone" gumga-mask="(99) 99999-9999" />
                                        <span class="bar"></span>
                                        <label for="telefone" class="control-label" gumga-translate-tag="colaborador.telefone">telefone</label>
                                    </gmd-input>
                                </div>
                                <div class="col-md-4">
                                    <gmd-input>
                                        <input type="text" class="form-control gmd captalize" ng-model="colaborador.data.numeroCnh" name="numeroCnh" />
                                        <span class="bar"></span>
                                        <label for="numeroCnh" class="control-label" gumga-translate-tag="colaborador.numeroCnh">numeroCnh</label>
                                    </gmd-input>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="endereco">
                            <div class="row">
                                <div class="col-md-12">
                                    <gumga-address
                                        value="colaborador.data.endereco"
                                        name="endereco"
                                        title="Preencha um endereço"
                                        street-number="true"
                                        state-city="false"
                                        state-city-ibge="true"
                                        street="false">
                                    </gumga-address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%;">
                        <div class="col-md-12">
                            <gumga-errors placement="right" icon="glyphicon glyphicon-info-sign" label="Campos inválidos" title="Campos inválidos"></gumga-errors>
                        </div>
                    </div>
                </form>
			</div>
            <div class="panel-footer">
                <gumga-form-buttons
                        back="colaborador.list"
                        submit="salvar(colaborador.data)"
                        position="right"
                        valid="ColaboradorForm.$valid"
                        confirm-dirty="true"
                        continue="continue">
                </gumga-form-buttons>    
            </div>
		</div>
	</div>
</div>